<div class="page-table_cell">{{ passItem.serviceName }}</div>
<div class="page-table_cell">{{ passItem.userName }}</div>
<div class="page-table_cell">{{ passItem.email }}</div>
<div class="page-table_cell">{{ passItem.pass }}</div>
<div class="page-table_cell -actions">
  <div class="btn-group">
    <button class="action-btn btn-success -hollow" openModal data-modal="edit-modal" (click)="onSelectPassItem(id);setItem();">
      <i class="icon-edit"></i>
    </button>
    <button class="action-btn btn-red -hollow" openModal data-modal="delete-modal" (click)="onSelectPassItem(id);">
      <i class="icon-delete"></i>
    </button>
  </div>
</div>

