@import '../../../assets/styles/core/_variables';

.page-sidebar {
  background: $darker;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 500;

  &_devider {
    background-color: #32323d;
    height: 1px;
    margin: 8px 12px;

    &.-zero-top {
      margin-top: 0;
    }
  }
}

.nav-link {
  color: $grayer;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: $dark;
    color: $white;
  }

  &.-active {
    background-color: $dark;
    color: $white;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background: red;
    }
  }

  &_text {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 60px;
    box-sizing: border-box;
    width: 100%;
    opacity: 0;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    outline: none;

    .-expanded & {
      opacity: 1;
      transition: width .3s cubic-bezier(.55, 0, .1, 1);
    }

    .-header & {
      line-height: 60px;
      height: 60px;
    }
  }

  &_icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%,-50%);

    &.-animated {
      transform: translate(-50%,-50%) rotateY(180deg);
      transition: transform 0.3s linear;

      .-expanded & {
        transform: translate(-50%,-50%);
      }
    }

    .icon {
      display: block;
      font-size: 20px;

      &.icon-arrow-left {
        font-size: 10px;
      }

      &.icon-home {
        font-size: 16px;
      }

      &.icon-table {
        font-size: 17px;
      }
    }
  }
}

.page-logo {
  text-align: center;
  margin: 24px 10px;
  overflow: hidden;

  .logo {
    max-width: 100%;

    &.-main {
      height: 40px;
    }
  }
}
