body{
    -webkit-font-smoothing: antialiased;
    -webkit-tap-code-container-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: $text-font;
    font-size: $base-font;
    color: $base-color;

    &.-backdrop{
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }

    @include media(1024) {
      font-size: 14px;
    }
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

//-----------------------------------------
//Code guide styles
//-----------------------------------------

.wrapper {
  position: relative;
  min-height: 100%;
  background-color: #F9FBFD;
}

.container{
    width: 960px;
}

.page-content {
  margin-top: 30px;
  width: 100%;
}

.page-controls {
  margin-top: 30px;

  &_btn {
    .-rotate180 {
      display: inline-block;
      transform: rotate(180deg);
    }
  }

}

.page-table {
  border: 1px solid $gray;
  border-radius: 4px;
  min-width: 900px;
  width: 100%;

  &_header {
    font-weight: bold;
    font-size: em(20);
    border-bottom: 1px solid $gray;
  }

  &_row {
    border-bottom: 1px solid $gray;
    display: flex;
    flex-flow: row wrap;

    &:last-child {
      border-bottom: none;
    }
  }

  &_cell {
    flex: 1 0 19%;
    padding: 15px;
    border-right: 1px solid $gray;
    display: flex;
    align-items: center;
    word-break: break-word;

    &.-actions {
      flex: 0 0 120px;
    }

    &:last-child {
      border-right: none;
    }
  }

  .action-btn {
    height: auto;
    line-height: 1;
    padding: 5px;
  }
}

.page-info-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.page-list-item {
  height: 60px;
  min-width: 400px;
  position: relative;
  background: #FFF;
  margin-bottom: 2px;
  outline: none;

  &:hover, &.-selected {
    color: #FFF;
    background-color: rgba(77, 94, 110, .4);

    .page-icon-overlay {
      visibility: visible;
    }

    .page-button-cell {
      display: table-cell;
    }
  }

  &_inner-content {
    display: block;
    height: 100%;
    position: relative;
  }

  &_checkbox {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 55px;

    .page-checkbox {
      visibility: visible;
      border: 1px solid #4D5E6E;
      border-radius: 4px;
      height: 15px;
      width: 15px;
      left: 20px;
      bottom: 0;
      margin: auto;
    }
  }

  &_icon-wrap {
    width: 150px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border: none;

    .page-list-item:hover, .page-list-item.-selected  {
      background-color: #FFF;
    }

    .big-icon {
      height: 55%;
      font-size: 33px;
    }
  }

  &_info {
    position: absolute;
    left: 215px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 10px;
  }

  .page-icon-overlay {
    display: block;
    visibility: hidden;
    background-color: rgba(77, 94, 110, .44);
  }

  .page-info-text {
    &.-first {
      @include minMedia(1100px) {
        width: 50%;
      }
    }
  }
}

.page-icon {
  position: relative;
}

.big-icon, img.small-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.page-icon-overlay {
  background-color: rgba(77, 94, 110, .4);
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-checkbox {
  position: absolute;
  top: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  box-sizing: content-box;
  vertical-align: top;
  padding: 0;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    background-color: #6D7074;
  }

  .page-tile.-selected &,
  .page-list-item.-selected & {
    border: none;
    height: 16px;
    width: 16px;
    position: relative;

    &:after {
      content: '';
      display: none;
      top: 1px;
      left: 1px;
      top: 1px;
      bottom: 1px;
      background-color: $red;
    }
  }
}

.page-info-text {
  position: relative;

  @include media(1100px) {
    &.-show-large {
      display: none !important;
    }
  }
}

.page-info-text,
.page-hover-info {
  display: table-cell;
  vertical-align: middle;
}

.page-info-text {
  display: table-cell;
  vertical-align: middle;

  .name {
    font-size: 15px;
    font-weight: 600;
    color: #465E7B;
  }

  .info-label {
    margin-right: 10px;
  }

  .name, .info-label  {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .small {
    font-size: 80%;

    .info-label {
      opacity: .6;
    }
  }
}

.page-button-cell {
  width: 45px;
  display: none;
  vertical-align: middle;
  text-align: right;

  button {
    padding: 0 10px;
    font-size: 15px;
  }
}
