body{
    -webkit-font-smoothing: antialiased;
    -webkit-tap-code-container-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: $text-font;
    font-size: $base-font;
    color: $base-color;

    &.-backdrop{
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }

    @include media(1024) {
      font-size: 14px;
    }
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

//-----------------------------------------
//Code guide styles
//-----------------------------------------

.wrapper {
  position: relative;
  min-height: 100%;
  background-color: #F9FBFD;
}

.container{
    width: 90%;
}

.page-content {
  margin-top: 30px;
  width: 100%;
}

.page-controls {
  margin-top: 30px;

  &_btn {
    .-rotate180 {
      display: inline-block;
      transform: rotate(180deg);
    }

    &.-active {
      background-color: #939393 !important;
      color: $white;
    }
  }

}

.page-table {
  border: 1px solid $gray;
  border-radius: 4px;
  min-width: 900px;
  width: 100%;

  &_header {
    font-weight: bold;
    font-size: em(20);
    border-bottom: 1px solid $gray;
  }

  &_row {
    border-bottom: 1px solid $gray;
    display: flex;
    flex-flow: row wrap;

    &:last-child {
      border-bottom: none;
    }
  }

  &_cell {
    flex: 1 0 19%;
    padding: 15px;
    border-right: 1px solid $gray;
    display: flex;
    align-items: center;
    word-break: break-word;

    &.-actions {
      flex: 0 0 120px;
    }

    &:last-child {
      border-right: none;
    }
  }

  .action-btn {
    height: auto;
    line-height: 1;
    padding: 5px;
  }
}

.page-list {
  margin: 0 -15px;
  display: flex;
  flex-flow: row wrap;

  li {
    width: 100%;

    &.-tile {
      flex: 0 0 33.33333333%;
      padding: 15px;

      @include media(960px) {
        flex: 0 0 50%;
      }

      @include media(640px) {
        flex: 0 0 100%;
      }
    }
  }

  &_checkbox {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 55px;
  }

  &_img {
    position: relative;
  }

  &_img-overlay {
    background-color: rgba(77, 94, 110, .4);
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &_info {
    margin: 0 10px;
  }

  &_info-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  &_info-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;

    @include media(1100px) {
      &.-show-large {
        display: none !important;
      }
    }

    p {
      margin: 0;
    }

    .name {
      font-size: 15px;
      font-weight: 600;
      color: #465E7B;
    }

    .info-label {
      margin-right: 10px;
    }

    .name, .info-label  {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .small {
      font-size: 80%;

      .info-label {
        opacity: .6;
      }
    }
  }

  &_info-text,
  &_hover-info {
    display: table-cell;
    vertical-align: middle;
  }

  &_button-cell {
    width: 45px;
    display: none;
    vertical-align: middle;
    text-align: right;

    button {
      font-size: 14px;
    }
  }

  &_button {
    background-color: transparent;
    color: inherit;
    box-sizing: content-box;
    vertical-align: top;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #DFE2E7;
    height: 30px;
    width: 30px;
    border-radius: 2px;

    &:hover {
      background-color: rgba(60, 74, 84, 0.2);
    }
  }

  .big-icon, img.small-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
  }
}

.page-list-item {
  min-width: 100%;

  .-list > & {
    height: 60px;
    min-width: 400px;
    position: relative;
    background: #FFF;
    outline: none;
    margin: 0 15px 2px;

    &:hover, &.-selected, &.-focus {
      color: #FFF;
      background-color: rgba(77, 94, 110, .4);

      .page-list_img {
        background: $white;
      }

      .page-list_img-overlay {
        visibility: visible;
      }

      .page-list_button-cell {
        display: table-cell;
      }
    }

    .inner-wrap {
      display: block;
      height: 100%;
      position: relative;
    }

    .page-list_img {
      width: 150px;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      border: none;

      .big-icon {
        height: 55%;
        font-size: 33px;
      }
    }

    .page-checkbox {
      visibility: visible;
      border: 1px solid #4D5E6E;
      border-radius: 4px;
      height: 15px;
      width: 15px;
      left: 20px;
      bottom: 0;
      margin: auto;
    }

    .page-list_img-overlay {
      display: block;
      visibility: hidden;
    }

    .page-list_info {
      position: absolute;
      left: 215px;
      top: 0;
      bottom: 0;
      right: 0;
    }

    .page-list_button-cell {
      color: $white;
    }

    .page-list_info-text {
      &.-first {
        @include minMedia(1100px) {
          width: 50%;
        }
      }
    }
  }

  .-tile > & {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,24,48,0.2);
    display: inline-block;
    background-color: #FFF;
    position: relative;
    vertical-align: top;
    height: 160px;

    &:hover, &.-selected, &.-focus {
      .page-list_img-overlay {
        display: block;
      }

      .page-list_button-cell {
        display: table-cell;
      }
    }

    .page-list_checkbox {
      display: none;
    }

    .page-list_img {
      width: 100%;
      height: 108px;
    }

    .page-checkbox {
      height: 15px;
      width: 15px;
      border: 1px solid rgba(77, 94, 110, .8);
      border-radius: 2px;
      right: 0;
      margin: 4px 4px 0 0;
    }

    .page-list_info {
      position: relative;
      height: 50px;
    }

    .page-list_button-cell {
      color: #465E7B;
    }

    .page-list_info-text {
      &.-show-large {
        display: none;
      }
    }
  }
}

.page-checkbox {
  position: absolute;
  top: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  box-sizing: content-box;
  vertical-align: top;
  padding: 0;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    background-color: #6D7074;
  }

  .-selected & {
    &:hover {
      background-color: transparent;
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 3px;
      background-color: $red;
    }
  }
}
