<section class="page-controls">
  <div class="container">
    <div class="row no-gutters -between -middle">
      <div class="heading -h3">Passwords</div>
      <div class="btn-group">
        <button class="page-controls_btn btn-white -out-shadow -icon" title="{{isFoldersOpened ? 'Collapse all' : 'Expand all'}}" (click)="isFoldersOpened = !isFoldersOpened;toggleGroups();">
          <i class="icon-next" [class.-rotate180]="isFoldersOpened"></i>
        </button>
        <button class="page-controls_btn btn-primary -out-shadow" (click)="openModal('add-modal')">Add</button>
      </div>
    </div>
  </div>
</section>
<section class="page-content">
  <div class="container">
    <div class="row no-gutters">
      <app-accordion>
        <app-accordion-group
          [heading]="group.heading"
          *ngFor="let group of folders">
          {{group.content}}
        </app-accordion-group>
      </app-accordion>
    </div>
  </div>
</section>

<app-modal id="add-modal">
  <div class="modal">
    <div class="modal_content">
      <h1 class="heading -h2">Add Modal!</h1>
      <div class="row -column no-gutters">
        <div class="form-group">
          <label for="folderName">Folder Name:</label>
          <input class="form-control" id="folderName" type="text" name="folderName" #folderNameInput>
        </div>
        <div class="form-group">
          <label for="folderContent">Folder Content:</label>
          <input class="form-control" id="folderContent" type="text" name="folderContent" #folderContentInput>
        </div>
      </div>
      <div class="row no-gutters -end">
        <div class="btn-group">
          <button class="btn-success" (click)="addFolder();closeModal('add-modal');">Add</button>
          <button class="btn-default" (click)="closeModal('add-modal')">Cancel</button>
        </div>
      </div>
    </div>
    <button class="close-btn" (click)="closeModal('add-modal')"></button>
  </div>
</app-modal>
