<section class="page-controls">
  <div class="container">
    <div class="row no-gutters -between -middle">
      <div class="heading -h3">Passwords</div>
      <div class="btn-group">
        <button class="btn-primary">Add</button>
      </div>
    </div>
  </div>
</section>
<section class="page-content">
  <div class="container">
    <div class="row no-gutters">
      <app-accordion>
        <app-accordion-group
          [heading]="group.heading"
          *ngFor="let group of groups">
          {{group.content}}
        </app-accordion-group>
      </app-accordion>
    </div>
  </div>
</section>
