<section class="page-controls">
  <div class="container">
    <div class="row no-gutters -between -middle">
      <div class="heading -h3">Passwords</div>
      <div class="btn-group">
        <button class="page-controls_btn btn-white -out-shadow -icon" title="{{isGroupsOpen ? 'Collapse all' : 'Expand all'}}" (click)="isGroupsOpen = !isGroupsOpen;toggleGroups();">
          <i class="icon-next" [class.-rotate180]="isGroupsOpen"></i>
        </button>
        <button class="page-controls_btn btn-primary -out-shadow" (click)="openModal('add-modal')">Add</button>
      </div>
    </div>
  </div>
</section>
<section class="page-content">
  <div class="container">
    <div class="row no-gutters">
      <app-accordion>
        <app-accordion-group
          [heading]="group.heading"
          *ngFor="let group of groups">
          {{group.content}}
        </app-accordion-group>
      </app-accordion>
    </div>
  </div>
</section>

<app-modal id="add-modal">
  <div class="modal">
    <div class="modal_content">
      <h1 class="heading -h2">Add Modal!</h1>
      <div class="row -column no-gutters">
        <div class="form-group">
          <label for="serviceName">Service:</label>
          <input class="form-control" id="serviceName" type="text" name="serviceName" #serviceNameInput>
        </div>
        <div class="form-group">
          <label for="userName">User Name:</label>
          <input class="form-control" id="userName" type="text" name="userName" #userNameInput>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" id="email" type="text" name="email" #emailInput>
        </div>
        <div class="form-group">
          <label for="pass">Password:</label>
          <input class="form-control" id="pass" type="text" name="pass" #passInput>
        </div>
      </div>
      <div class="row no-gutters -end">
        <div class="btn-group">
          <button class="btn-success" (click)="closeModal('add-modal');">Add</button>
          <button class="btn-default" (click)="closeModal('add-modal')">Cancel</button>
        </div>
      </div>
    </div>
    <button class="close-btn" (click)="closeModal('add-modal')"></button>
  </div>
</app-modal>
