.page-header {
  background: $red;
  padding: 8px 0;

  &_logo {
    color: $white;
    font-size: 30px;
    font-weight: bold;
  }

  &_search {
    height: 44px;
    line-height: 44px;

    .search-input {
      border: none;
      background-color: rgba(255,255,255,0.2);
      color: $white;
      height: 44px;
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: top;
      border: none;
      font-size: 18px;
      width: 100%;

      @include placeholder {
        color: $white;
        opacity: 0.6;
      }

      &:hover, &:focus {
        background-color: rgba(255,255,255,0.4);
      }
    }
  }
}
