<section class="page-controls">
  <div class="container">
    <div class="row no-gutters -between -middle">
      <div class="heading -h3">Passwords</div>
      <div *ngIf="passwordsLength">
        <button class="page-controls_btn btn-white -icon" title="{{isFoldersOpened ? 'Collapse all' : 'Expand all'}}" (click)="isFoldersOpened = !isFoldersOpened;toggleGroups();">
          <i class="icon-next" [class.-rotate180]="isFoldersOpened"></i>
        </button>
        <div class="page-top-actions btn-group">
          <button class="btn-white -icon" title="Tiles" [class.-active]="activeViewType == 'tile'" (click)="changeViewType('tile')">
            <i class="icon-tile"></i>
          </button>
          <button class="btn-white -icon" title="List" [class.-active]="activeViewType == 'list'" (click)="changeViewType('list')">
            <i class="icon-list"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-content">
  <div class="container">
    <div class="row no-gutters -center">
      <app-passwords-group *ngIf="foldersIdArray.length;else noPasswords" [foldersData]="foldersData" [foldersList]="foldersIdArray" class="col-12"></app-passwords-group>
      <ng-template #noPasswords>
        <p class="empty-paage-message">
          You have not passwords!
        </p>
      </ng-template>
    </div>
  </div>
</section>

<app-add-menu
  [menuItemsArray]="addMenuItemsArray"
  (triggeredItem)="addMenuClicked($event)">
</app-add-menu>

<app-modal id="folder-modal">
  <div class="modal -folder">
    <div class="modal-header">
      <div class="modal-header_inner">
        <h1 class="modal-header_title heading -h4">{{(folderMode === 'edit') ? 'Edit Folder' : 'Add Folder'}}</h1>
      </div>
      <div class="modal-header_buttons">
        <button class="close-btn" type="button" [closeModal]="'folder-modal'"></button>
      </div>
    </div>
    <div class="modal-content">
      <perfect-scrollbar class="modal-content_inner">
        <app-category
          #folderForm
          [mode]="folderMode"
          [categoryId]="listSelectedId"
          [categoriesData]="foldersData"
          [categories]="folders">
        </app-category>
      </perfect-scrollbar>
    </div>
    <div class="modal-bottom">
      <div class="row no-gutters -between">
        <div class="btn-list">
          <button
            *ngIf="folderMode === 'edit'"
            class="btn-white -icon"
            type="button"
            [openModal]="'delete-modal'"
            (click)="deleteMode = 'folder'"
            title="Delete">
            <i class="icon-delete"></i>
          </button>
        </div>
        <div class="btn-list">
          <button class="btn-white" type="button" [closeModal]="'folder-modal'">Cancel</button>
          <button
            class="btn-red"
            type="button"
            [closeModal]="'folder-modal'"
            (click)="folderFormCmp.submit()"
            [disabled]="!folderFormCmp.isDirty() || !folderFormCmp.isValid()">Save</button>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<app-modal id="item-modal">
  <div class="modal -item">
    <div class="modal-header">
      <div class="modal-header_inner">
        <h1 class="modal-header_title heading -h4">{{(passwordMode === 'edit') ? 'Edit Password' : 'Add Password'}}</h1>
      </div>
      <div class="modal-header_buttons">
        <button class="close-btn" type="button" [closeModal]="'item-modal'"></button>
      </div>
    </div>
    <div class="modal-content">
      <perfect-scrollbar class="modal-content_inner">
        <app-password
          #passwordForm
          [mode]="passwordMode"
          [itemIndex]="listItemSelectedIndex"
          [categoryId]="listSelectedId"
          [categories]="folders"
          [categoriesData]="foldersData">
        </app-password>
      </perfect-scrollbar>
    </div>
    <div class="modal-bottom">
      <div class="row no-gutters -between">
        <div class="btn-list">
          <button
            *ngIf="passwordMode === 'edit'"
            class="btn-white -icon"
            type="button"
            [openModal]="'delete-modal'"
            (click)="deleteMode = 'password'"
            title="Delete">
            <i class="icon-delete"></i>
          </button>
        </div>
        <div class="btn-list">
          <button class="btn-white" type="button" [closeModal]="'item-modal'">Cancel</button>
          <button
            class="btn-red"
            type="button"
            [closeModal]="'item-modal'"
            (click)="passwordFormCmp.submit()"
            [disabled]="!passwordFormCmp.isDirty() || !passwordFormCmp.isValid()">Save</button>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<app-modal id="delete-modal">
  <div class="modal -delete">
    <div class="modal-header">
      <div class="modal-header_inner">
        <h1 *ngIf="deleteMode === 'password'" class="modal-header_title heading -h4">Delete Password</h1>
        <h1 *ngIf="deleteMode === 'folder'" class="modal-header_title heading -h4">Delete Folder</h1>
      </div>
      <div class="modal-header_buttons">
        <button class="close-btn" type="button" [closeModal]="'delete-modal'"></button>
      </div>
    </div>
    <div class="modal-content">
      <div class="modal-content_inner">
        <h1 *ngIf="deleteMode === 'password'" class="heading -h4">Are you sure you want to delete this password?</h1>
        <h1 *ngIf="deleteMode === 'folder' && foldersData[listSelectedId]" class="heading -h4">{{ foldersData[listSelectedId].childCategories ? 'Are you sure you want to delete this folder with all nested folders?' : 'Are you sure you want to delete this folder?' }}</h1>
      </div>
    </div>
    <div class="modal-bottom">
      <div class="row no-gutters -end">
        <div class="btn-list">
          <button
            *ngIf="deleteMode === 'password'"
            class="btn-red"
            type="button"
            [closeModal]="'delete-modal'"
            (click)="deleteItem()">Delete</button>
          <button
            *ngIf="deleteMode === 'folder'"
            class="btn-red"
            type="button"
            [closeModal]="'delete-modal'"
            (click)="deleteFolder()">Delete</button>
          <button class="btn-white" type="button" [closeModal]="'delete-modal'">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<app-modal id="search-image-modal">
  <div class="modal">
    <div class="modal-header">
      <div class="modal-header_inner">
        <h1 class="modal-header_title heading -h4">Search image</h1>
      </div>
      <div class="modal-header_buttons">
        <button class="close-btn" type="button" [closeModal]="'search-image-modal'"></button>
      </div>
    </div>
    <div class="modal-content">
      <div class="modal-content_inner">
        <app-search-image
          #searchImageForm>
        </app-search-image>
      </div>
    </div>
    <div class="modal-bottom">
      <div class="row no-gutters -end">
        <div class="btn-list">
          <button
            class="btn-red"
            type="button"
            [closeModal]="'search-image-modal'"
            data-modal="delete-modal"
            [disabled]="!searchImageForm.isValid()"
            (click)="selectImage()">Save</button>
          <button class="btn-white" type="button" [closeModal]="'search-image-modal'">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</app-modal>
