<section class="page-controls">
  <div class="container">
    <div class="row no-gutters -between -middle">
      <div class="heading -h3">Passwords</div>
      <div class="btn-group">
        <button class="page-controls_btn btn-white -out-shadow -icon" title="Edit folders" [class.-active]="isEditFolderMode" (click)="editFolders();">
          <i class="icon-edit-folder"></i>
        </button>
        <button class="page-controls_btn btn-white -out-shadow -icon" title="{{isFoldersOpened ? 'Collapse all' : 'Expand all'}}" (click)="isFoldersOpened = !isFoldersOpened;toggleGroups();">
          <i class="icon-next" [class.-rotate180]="isFoldersOpened"></i>
        </button>
        <button class="page-controls_btn btn-white -out-shadow -icon" title="Tiles" [class.-active]="activeViewType == 'tile'" (click)="changeViewType('tile')">
          <i class="icon-tile"></i>
        </button>
        <button class="page-controls_btn btn-white -out-shadow -icon" title="List" [class.-active]="activeViewType == 'list'" (click)="changeViewType('list')">
          <i class="icon-list"></i>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="page-content">
  <div class="container">
    <div class="row no-gutters">
      <app-passwords-group [foldersData]="foldersData" [foldersList]="foldersIdArray" class="col-12"></app-passwords-group>
    </div>
  </div>
</section>

<app-add-menu
  [menuItemsArray]="addMenuItemsArray"
  (triggeredItem)="addMenuClicked($event)">
</app-add-menu>

<app-modal id="folder-modal">
  <div class="modal -folder">
    <div class="modal-header">
      <div class="modal-header_inner">
        <h1 class="modal-header_title heading -h4">Add Folder</h1>
      </div>
      <div class="modal-header_buttons">
        <button class="close-btn" type="button" closeModal data-modal="folder-modal"></button>
      </div>
    </div>
    <div class="modal-content">
      <form id="folder-form" [formGroup]="folderForm" (ngSubmit)="onSubmit()">
        <div class="row -column no-gutters">
          <div class="form-group">
            <label for="folderName">Folder Name:</label>
            <input
              class="form-control"
              id="folderName"
              type="text"
              formControlName="folderName">
          </div>
          <div class="form-group">
            <label for="folderSelect">Add as a subfolder to:</label>
            <select
              name="parentFolderSelect"
              id="parentFolderSelect"
              formControlName="folderSelect">
              <option *ngFor="let folder of folders" [value]="folder.id">{{folder.text}}</option>
            </select>
            <ng-select [allowClear]="true"
                       [items]="folders"
                       (data)="onSelectFolder($event)"
                       placeholder="Choose parent folder"
                       class="page-select">
            </ng-select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-bottom">
      <div class="row no-gutters -end">
        <div class="btn-group">
          <button
            class="btn-success"
            type="submit"
            closeModal
            data-modal="folder-modal"
            form="folder-form"
            [disabled]="!folderForm.valid">Add</button>
          <button class="btn-default" type="button" closeModal data-modal="folder-modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<app-modal id="item-modal">
  <div class="modal -item" [ngClass]="{'-sidebar-opened': passwordForm.get('additionalOptions').get('chooseImage').value}">
    <div class="modal-header">
      <div class="modal-header_inner">
        <h1 class="modal-header_title heading -h4">{{isEditPasswordMode ? 'Edit Password' : 'Add Password'}}</h1>
      </div>
      <div class="modal-header_buttons">
        <button class="close-btn" type="button" closeModal data-modal="item-modal"></button>
      </div>
    </div>
    <div class="modal-content">
      <form id="password-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="row -column no-gutters">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="url">URL:</label>
                <input
                  class="form-control"
                  id="url"
                  type="text"
                  formControlName="url">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="serviceName">Service Name:</label>
                <input
                  class="form-control"
                  id="serviceName"
                  type="text"
                  formControlName="serviceName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="userName">User Name:</label>
                <input
                  class="form-control"
                  id="userName"
                  type="text"
                  formControlName="userName">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="folderSelect">Folder:</label>
                <select
                  name="folderSelect"
                  id="folderSelect"
                  formControlName="folderSelect">
                  <option *ngFor="let folder of folders" [value]="folder.id">{{folder.text}}</option>
                </select>
                <ng-select
                  [allowClear]="true"
                  [items]="folders"
                  [active]="activeFolder"
                  (data)="onSelectFolder($event)"
                  placeholder="Choose folder"
                  class="page-select">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  class="form-control"
                  id="email"
                  type="text"
                  formControlName="email">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="pass">Password:</label>
                <input
                  class="form-control"
                  id="pass"
                  type="text"
                  formControlName="pass">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="pass">Description:</label>
                <textarea
                  class="form-control"
                  id="desc"
                  rows="7"
                  formControlName="desc">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="accordion-group" formGroupName="additionalOptions" >
                <app-accordion
                  [heading]="'Additional options'">
                  <div class="form-group">
                    <input
                      id="chooseImage"
                      type="checkbox"
                      name="chooseImage"
                      (change)="$event.target.checked && (selectedImage = 0);"
                      formControlName="chooseImage"
                    >
                    <label for="chooseImage">Choose image</label>
                  </div>
                </app-accordion>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-sidebar">
      <div class="modal-sidebar_images">
        <div
          class="site-logo"
          *ngFor="let img of siteLogoArray; let i = index"
          [ngClass]="{'-selected': (selectedImage === i)}"
          (click)="selectedImage = i">
          <img src="{{ img }}" alt="">
        </div>
      </div>
    </div>
    <div class="modal-bottom">
      <div class="row no-gutters -end">
        <div class="btn-group">
          <button
            class="btn-success"
            type="submit"
            closeModal
            data-modal="item-modal"
            form="password-form"
            [disabled]="!passwordForm.dirty || !passwordForm.valid">{{isEditPasswordMode ? 'Edit' : 'Add'}}</button>
          <button class="btn-default" type="button" closeModal data-modal="item-modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<app-modal id="delete-modal">
  <div class="modal -delete">
    <div class="modal-header">
      <div class="modal-header_inner">
        <h1 class="modal-header_title heading -h4">Delete Password</h1>
      </div>
      <div class="modal-header_buttons">
        <button class="close-btn" type="button" closeModal data-modal="delete-modal"></button>
      </div>
    </div>
    <div class="modal-content">
      <h1 class="heading -h4">Are you sure you want to delete this password?</h1>
    </div>
    <div class="modal-bottom">
      <div class="row no-gutters -end">
        <div class="btn-group">
          <button
            class="btn-success"
            type="button"
            closeModal
            data-modal="delete-modal"
            form="password-form"
            (click)="onSubmit()">Delete</button>
          <button class="btn-default" type="button" closeModal data-modal="delete-modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</app-modal>
