<div class="row -between -center">
	<div class="col-6">
		<div class="content-header">Passwords</div>
		<p class="content-sub-header"></p>
	</div>
	<div>
		<div class="btn-group btn-group-toggle" ngbRadioGroup name="foldersExpand" [(ngModel)]="isFoldersOpened">
			<label class="btn-raised btn-outline-secondary  btn-iconen" ngbButtonLabel>
				<input type="radio" ngbButton [value]="true"> <i class="ft-skip-back rotate-90"></i>
			</label>
			<label class="btn-raised btn-outline-secondary  btn-iconen" ngbButtonLabel>
				<input type="radio" ngbButton [value]="false"> <i class="ft-skip-forward rotate-90"></i>
			</label>
		</div>
		<div class="btn-group btn-group-toggle" ngbRadioGroup name="activeViewType" [(ngModel)]="activeViewType">
			<label class="btn-raised btn-outline-secondary  btn-iconen" ngbButtonLabel>
				<input type="radio" ngbButton [value]="'list'"> <i class="ft-list"></i>
			</label>
			<label class="btn-raised btn-outline-secondary  btn-iconen" ngbButtonLabel>
				<input type="radio" ngbButton [value]="'tile'"> <i class="ft-grid"></i>
			</label>
		</div>
	</div>
</div>
<div class="row no-gutters -center">
	<smart-folders
		[foldersData]="foldersData"
		[foldersList]="foldersIdArray"
		(onSelectFolder)="logger('Select folder', $event)"
		(onEditFolder)="logger('Edit folder', $event)"
		(onDeleteFolder)="logger('Delete folder', $event)"
	>
		<ng-template let-folderId>
			<smart-list
				[viewType]="'list'"
				[list]="foldersData[folderId].content"
				[listId]="folderId"
				(onSelectList)="logger('Select list', $event)"
				(onSelectItem)="logger('Select item', $event)"
				(onEditItem)="logger('Edit item', $event)"
				(onDeleteItem)="logger('Delete item', $event)"
			>
				<ng-template let-item>
					<div class="smart-list_info-text -first">
						<p class="name">{{ item.serviceName }}</p>
						<p class="small info-label">{{ item.userName }}</p>
					</div>
					<div class="smart-list_info-text -show-large">
						<p class="small info-label">{{ item.email }}</p>
						<p class="small">{{ item.pass }}</p>
					</div>
				</ng-template>
			</smart-list>
		</ng-template>
	</smart-folders>
	<p *ngIf="passwordsLength === 0;" class="empty-page-message">
		You have not passwords!
	</p>
</div>

<app-add-menu
	[menuItemsArray]="addMenuItemsArray"
	(triggeredItem)="addMenuClicked($event)">
</app-add-menu>

<app-modal id="folder-modal">
	<div class="app-modal -folder" [loader]="'folderForm'">
		<div class="app-modal-header">
			<div class="app-modal-header_inner">
				<h1 class="app-modal-header_title heading h4">{{(folderMode === 'edit') ? 'Edit Folder' : 'Add Folder'}}</h1>
			</div>
			<div class="app-modal-header_buttons">
				<a [closeModal]="'folder-modal'"><i class="ft-x font-medium-3"></i></a>
			</div>
		</div>
		<div class="app-modal-content">
			<perfect-scrollbar class="app-modal-content_inner">
				<app-category
					#folderForm
					[mode]="folderMode"
					[categoryId]="listSelectedId"
					[categoriesData]="foldersData"
					[categories]="folders">
				</app-category>
			</perfect-scrollbar>
		</div>
		<div class="app-modal-bottom">
			<div class="row no-gutters -between">
				<div class="btn-list">
					<button
						*ngIf="folderMode === 'edit'"
						class="btn-white -icon"
						type="button"
						[openModal]="'delete-modal'"
						(click)="deleteMode = 'folder'"
						title="Delete">
						<i class="icon-delete"></i>
					</button>
				</div>
				<div class="btn-list">
					<button class="btn btn-secondary btn-raised" type="button" [closeModal]="'folder-modal'">Cancel</button>
					<button
						class="btn btn-success btn-raised"
						type="button"
						(click)="folderFormSubmit()"
						[disabled]="!folderFormCmp.isDirty() || !folderFormCmp.isValid()">Save
					</button>
				</div>
			</div>
		</div>
	</div>
</app-modal>

<app-modal id="item-modal">
	<div class="app-modal -item" [loader]="'passwordForm'">
		<div class="app-modal-header">
			<div class="app-modal-header_inner">
				<h1 class="app-modal-header_title heading h4">{{(passwordMode === 'edit') ? 'Edit Password' : 'Add Password'}}</h1>
			</div>
			<div class="app-modal-header_buttons">
				<a [closeModal]="'item-modal'"><i class="ft-x font-medium-3"></i></a>
			</div>
		</div>
		<div class="app-modal-content">
			<perfect-scrollbar class="app-modal-content_inner">
				<app-password
					#passwordForm
					[mode]="passwordMode"
					[itemIndex]="listItemSelectedIndex"
					[categoryId]="listSelectedId"
					[categories]="folders"
					[categoriesData]="foldersData">
				</app-password>
			</perfect-scrollbar>
		</div>
		<div class="app-modal-bottom">
			<div class="row no-gutters -between">
				<div class="btn-list">
					<button
						*ngIf="passwordMode === 'edit'"
						class="btn-white -icon"
						type="button"
						[openModal]="'delete-modal'"
						(click)="deleteMode = 'password'"
						title="Delete">
						<i class="icon-delete"></i>
					</button>
				</div>
				<div class="btn-list">
					<button class="btn btn-secondary" type="button" [closeModal]="'item-modal'">Cancel</button>
					<button
						class="btn btn-success btn-raised"
						type="button"
						(click)="passwordFormSubmit()"
						[disabled]="!passwordFormCmp.isDirty() || !passwordFormCmp.isValid()">Save
					</button>
				</div>
			</div>
		</div>
	</div>
</app-modal>

<app-modal id="delete-modal">
	<div class="app-modal -delete" [loader]="'deleteForm'">
		<div class="app-modal-header">
			<div class="app-modal-header_inner">
				<h1 *ngIf="deleteMode === 'password'" class="app-modal-header_title heading h4">Delete Password</h1>
				<h1 *ngIf="deleteMode === 'folder'" class="app-modal-header_title heading h4">Delete Folder</h1>
			</div>
			<div class="app-modal-header_buttons">
				<a [closeModal]="'delete-modal'"><i class="ft-x font-medium-3"></i></a>
			</div>
		</div>
		<div class="app-modal-content">
			<div class="app-modal-content_inner">
				<h1 *ngIf="deleteMode === 'password'" class="heading h4">Are you sure you want to delete this
					password?</h1>
				<h1 *ngIf="deleteMode === 'folder' && foldersData[listSelectedId]" class="heading h4">{{
					foldersData[listSelectedId].childCategories ? 'Are you sure you want to delete this folder with all nested folders?' : 'Are you sure you want to delete this folder?' }}</h1>
			</div>
		</div>
		<div class="app-modal-bottom">
			<div class="row no-gutters -end">
				<div class="btn-list">
					<button
						class="btn btn-danger btn-raised"
						type="button"
						[closeModal]="'delete-modal'"
						(click)="deleteFormSubmit()">Delete
					</button>
					<button class="btn btn-secondary" type="button" [closeModal]="'delete-modal'">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</app-modal>

<app-modal id="search-image-modal">
	<div class="app-modal">
		<div class="app-modal-header">
			<div class="app-modal-header_inner">
				<h1 class="app-modal-header_title heading h4">Search image</h1>
			</div>
			<div class="app-modal-header_buttons">
				<a [closeModal]="'search-image-modal'"><i class="ft-x font-medium-3"></i></a>
			</div>
		</div>
		<div class="app-modal-content">
			<div class="app-modal-content_inner">
				<app-search-image
					#searchImageForm>
				</app-search-image>
			</div>
		</div>
		<div class="app-modal-bottom">
			<div class="row no-gutters -end">
				<div class="btn-list">
					<button
						class="btn btn-success btn-raised"
						type="button"
						[closeModal]="'search-image-modal'"
						data-modal="delete-modal"
						[disabled]="!searchImageForm.isValid()"
						(click)="selectImage()">Save
					</button>
					<button class="btn btn-secondary" type="button" [closeModal]="'search-image-modal'">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</app-modal>
