<div class="page-content-table_cell" *ngFor="let content of item | keys">{{ content.value }}</div>
<div class="page-content-table_cell -actions">
  <div class="btn-group">
    <button class="action-btn btn-success -hollow" openModal data-modal="edit-table" (click)="onSelectTableRow();">
      <i class="icon-edit"></i>
    </button>
    <button class="action-btn btn-red -hollow" openModal data-modal="delete-table" (click)="onSelectTableRow();">
      <i class="icon-delete"></i>
    </button>
  </div>
</div>
