/*------------------------------------------*/
/*---------- PANEL CUSTOM STYLES ----------*/
/*------------------------------------------*/

app-panel .app-panel-wrap {
	width: 360px;
}

.app-panel {

	&-header {
		width: 100%;
		height: 50px;
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		display: flex;
		align-items: center;

		&_inner {
			display: inline-block;
		}

		&_buttons {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
		}

		&_title {
			margin: 0;
		}
	}

	&-content {
		position: relative;
		height: 100%;
		padding: 15px;
	}

	&-bottom {
		position: absolute;
		bottom: 0;
		left: 15px;
		right: 15px;
		padding: 20px 0;
		border-top: 1px solid theme-color('light');
	}
}
