// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.

/*--------------------------------------/
 Colors
--------------------------------------*/
$white: #fff;
$dark: #191919;
$darker: #232323;
$red: #de3131;
$dark-red: $red - #222;
$blue: #007feb;
$blue-dark: #142d57;
$green: #2DCC70;
$dark-green: $green - #222;
$orange: #fc564f;
$yellow: #fea634;
$dark-yellow: $yellow - #222;
$dark-gray: #3C4A54;
$grayer: #c2c2c2;
$gray: #d1d1d7;
$light-gray: #efefef;
$light: #f8f8f8;

$base-color: $dark;
$primary-color: $orange;


/*--------------------------------------/
 Font size
--------------------------------------*/
$base-font: 16px;


/*--------------------------------------/
 Fonts
--------------------------------------*/
$OpenSans: 'Open Sans', sans-serif;
$MyriadPro: 'Myriad Pro', sans-serif;

$text-font: $OpenSans;
$heading-font: $MyriadPro;

/*--------------------------------------/
 Media
--------------------------------------*/
$media-grid: (
        wide: 0px,
        xl: 1280px,
        lg: 1024px,
        md: 860px,
        sm: 640px,
        xs: 480px
) !default;

$media-breakpoints: 480,640,860,1024,1280;

/*--------------------------------------/
 Path
--------------------------------------*/
$image-path: '../img';

