<div
  class="add-menu -to-right"
  [ngClass]="{'-open': open}"
  (mouseenter)="open = true"
  (mouseleave)="open = false">
  <ul class="add-menu-items" *ngIf="menuItemsArray.length > 1">
    <li
      class="add-menu-item"
      *ngFor="let item of menuItemsArray.slice(1)"
      (click)="click(item.id)">
      <span>{{ item.name }}</span>
      <div class="add-menu-item_icon">
        <i class="{{ item.icon }}"></i>
      </div>
    </li>
  </ul>
  <div class="add-menu-button">
    <div
      class="add-menu-item -custom"
      (click)="click(menuItemsArray[0].id)">
      <span>{{ menuItemsArray[0].name }}</span>
      <div class="add-menu-item_icon">
        <i class="{{ menuItemsArray[0].icon }}"></i>
      </div>
    </div>
    <div
      class="add-menu-item">
      <div class="add-menu-item_icon">
        <i class="ft-plus font-medium-3"></i>
      </div>
    </div>
  </div>
</div>
