<div class="page-table_header">
  <div class="page-table_row">
    <div class="page-table_cell" *ngFor="let header of data.headers | keys">{{ header.value }}</div>
  </div>
</div>
<div class="page-table_content" *ngIf="data.content.length; else emptyMes">
  <div content-table-row
       [item]="item"
       *ngFor="let item of data.content; let i = index"
       [tableRowIndex]="i"
       >
  </div>
</div>
<ng-template #emptyMes>
  <div style="padding: 20px;text-align: center">
    <p class="heading -h5">This table is empty</p>
  </div>
</ng-template>
