@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    extra-light: 200,
    ultra-light: 200,
    light: 300,
    normal: 400,
    book: 400,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    demi-bold: 600,
    bold: 700,
    extra-bold: 800,
    ultra-bold: 900,
    heavy: 900,
    black: 900,
    ultra: 900,
    ultra-black: 900,
    extra-ultra: 900
  );

  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}

@mixin text-content($fz: $font-size-base, $lh: 1.7) {
  font-size: $fz;
  line-height: $lh;

  ul{
    list-style: disc;
    padding-left: 1.3em;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  ol{
    list-style: decimal;
    padding-left: 1.3em;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  strong, b{
    font-weight: bold;
  }

  i, em, blockquote{
    font-style: italic;
  }

  blockquote{
    border-left: 3px solid rgba(theme-color('dark'), .7);
    background: rgba(#000, .05);
    padding: 2px 0 2px 20px;
  }

  table{
    width: 100%;
    text-align: left;

    th{
      font-weight: 600;
      border-bottom: 1px solid rgba(theme-color('dark'), .7);
    }
  }

  p{
    margin-bottom: .5em;
  }

  a{
    color: theme-color('primary');
    cursor: pointer;
    @include underline();

    &:after{
      bottom: 3px;
    }
  }

  h1, h2, h3, h4, h5, h6{
    font-family: $heading-font;
    font-weight: 600;
    margin: .2em 0;
    line-height: 1.2;
  }

  h1{
    font-size: 36px;
  }

  h2{
    font-size: 32px;
  }

  h3{
    font-size: 28px;
  }

  h4{
    font-size: 24px;
  }

  h5{
    font-size: 20px;
  }

  h6{
    font-size: 18px;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  img.alignleft{
    float: left;
    margin-right: 25px;
  }

  img.alignright{
    float: right;
    margin-left: 25px;
  }
}
