<div class="row">
	<div class="col-12">
		<div class="content-header">Loaders</div>
		<p class="content-sub-header"></p>
	</div>
</div>
<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card" [loader]="'home'">
			<div class="card-header">
				<h4 class="card-title">Loaders</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<button class="btn btn-raised btn-secondary" type="button" (click)="loaderOpen('home', 'This is loader')">Loader 1</button>
					<button class="btn btn-raised btn-secondary" type="button" (click)="loaderOpen('home')">Loader 2</button>
				</div>
			</div>
		</div>
	</div>
</div>
