<div class="row">
	<div class="col-12">
		<div class="content-header">Notifications</div>
		<p class="content-sub-header"></p>
	</div>
</div>
<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Notifications</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<button class="btn btn-raised btn-success" type="button" (click)="createSuccessNotification('This is notification!', 0)" title="Open">Create success notification</button>
					<button class="btn btn-raised btn-red" type="button" (click)="createErrorNotification('This is notification!')" title="Open">Create error notification</button>
					<button class="btn btn-raised btn-blue" type="button" (click)="createInfoNotification('This is notification!')" title="Open">Create info notification</button>
					<button class="btn btn-raised btn-yellow" type="button" (click)="createWarningNotification('This is notification!')" title="Open">Create warning notification</button>
					<button class="btn btn-raised btn-default" type="button" (click)="clearNotification()" title="Open">Clear notification</button>
				</div>
			</div>
		</div>
	</div>
</div>
