<div class="smart-list-item" [class.-selected]="isSelected" [class.-focus]="isFocused" (click)="onClickItem($event)">
	<div class="smart-list_img-wrap">
		<img *ngIf="item.img !== ''" class="big-icon" src="{{ item.img }}" alt="">
		<div *ngIf="item.bgImg !== ''" class="img-bg" [ngStyle]="{'background-image': 'url(' + item.bgImg + ')'}"></div>
		<div class="smart-list_overlay">
			<p *ngIf="item.desc !== ''" class="smart-list_overlay-text">{{ item.desc }}</p>
		</div>
	</div>
	<div class="smart-list_info">
		<div class="smart-list_info-table">
			<ng-content></ng-content>
			<div *ngIf="settings.actions.edit" class="smart-list_button-cell">
				<button
					class="smart-list_button"
					type="button"
					title="Edit"
					[ngClass]="settings.edit.class"
					[innerHtml]="settings.edit.editButtonContent"
					[openModal]="'item-modal'"
					(click)="onEditItem($event);">
				</button>
			</div>
			<div *ngIf="settings.actions.delete" class="smart-list_button-cell">
				<button
					class="smart-list_button"
					type="button"
					title="Delete"
					[ngClass]="settings.delete.class"
					[innerHtml]="settings.delete.deleteButtonContent"
					[openModal]="'delete-modal'"
					(click)="onDeleteItem($event);">
				</button>
			</div>
		</div>
	</div>
</div>
