<div class="smart-list-item -{{ activeViewType }}" [class.-selected]="isItemSelected" [class.-focus]="isItemFocused"
	 (click)="onSelectedItem($event)">
	<div class="inner-wrap">
		<div class="smart-list_checkbox-wrap">
			<div class="smart-list_checkbox"></div>
		</div>
		<div class="smart-list_img">
			<img *ngIf="itemImg !== ''" class="big-icon" src="{{ itemImg }}" alt="">
			<div class="smart-list_img-overlay"></div>
		</div>
		<div class="smart-list_info">
			<div class="smart-list_info-table">
				<ng-content></ng-content>
				<div class="smart-list_button-cell">
					<button class="smart-list_button" type="button" [openModal]="'item-modal'" title="Edit"
							(click)="onEditItem($event);">
						<i class="ft-settings"></i>
					</button>
				</div>
				<div class="smart-list_button-cell">
					<button class="smart-list_button" type="button" [openModal]="'delete-modal'" title="Delete"
							(click)="onDeleteItem($event);">
						<i class="ft-trash-2"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
