<form id="search-image-form" class="search-image-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group position-relative has-icon-right">
    <input
      id="searchTerm"
      class="form-control"
      type="text"
      placeholder="Search image..."
      formControlName="searchTerm">
    <button
      class="form-control-position btn btn-success btn-fab"
      type="submit">
      <i class="ft-search"></i>
    </button>
  </div>
  <perfect-scrollbar class="search-result">
    <div class="search-result_content" [loader]="'getImages'">
      <div class="row">
          <div *ngFor="let image of images; let i = index" class="image-wrap -chess-bg col-4"
               [ngClass]="{'-selected': (selectedImage === i)}"
               (click)="selectedImage = i;selectImage(image)">
			  <div class="inner-content cursor-pointer">
				<img src="{{ image }}" alt="">
			  </div>
          </div>
      </div>
    </div>
  </perfect-scrollbar>
</form>
