<form id="password-form" [formGroup]="form">
  <div class="row -column no-gutters">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="url">URL:</label>
          <input
            class="form-control"
            id="url"
            type="text"
            formControlName="url">
        </div>
        <div class="form-group">
          <label for="serviceName">Service Name:</label>
          <input
            class="form-control"
            id="serviceName"
            type="text"
            formControlName="serviceName">
        </div>
        <div class="form-group">
          <label for="userName">User Name:</label>
          <input
            class="form-control"
            id="userName"
            type="text"
            formControlName="userName">
        </div>
        <div class="form-group">
          <label for="categorySelect">Folder:</label>
          <select
            name="categorySelect"
            id="categorySelect"
            formControlName="categorySelect">
            <option *ngFor="let category of categories" [value]="category.id">{{category.text}}</option>
          </select>
          <ng-select
            [allowClear]="true"
            [items]="categories"
            [active]="activeCategory"
            (data)="onSelectCategory($event)"
            placeholder="Choose folder"
            class="page-select">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            class="form-control"
            id="email"
            type="text"
            formControlName="email">
        </div>
        <div class="form-group">
          <label for="pass">Password:</label>
          <input
            class="form-control"
            id="pass"
            type="text"
            formControlName="pass">
        </div>
      </div>
      <div class="col-6" formGroupName="previewImage">
        <div class="form-group">
          <label for="imageUrl">Preview image:</label>
          <input
            id="imageUrl"
            class="form-control"
            type="text"
            placeholder="Enter image address"
            [(ngModel)]="previewImage"
            formControlName="imageUrl">
        </div>
        <div class="row">
          <div class="col-6 form-group -upload">
            <input
              id="uploadImage"
              class="form-control"
              type="file"
              name="uploadImage"
              (change)="uploadImage($event)"
              formControlName="uploadImage">
            <label for="uploadImage" class="btn-success">
              <i class="icon-upload"></i>
              Local file
            </label>
          </div>
          <div *ngIf="form.get('url').valid" class="col-6 form-group -switch row no-gutters -end -middle">
            <label for="chooseImage">
              <input
                id="chooseImage"
                class="form-control"
                type="checkbox"
                name="chooseImage"
                formControlName="chooseImage">
              <span class="slider -round"></span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="image-wrap">
            <img *ngIf="form.get('previewImage.imageUrl').valid" src="{{ form.get('previewImage.imageUrl').value ? previewImage : form.get('previewImage.image').value}}" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="pass">Description:</label>
          <textarea
            class="form-control"
            id="desc"
            rows="5"
            formControlName="desc">
                </textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="accordion-group" formGroupName="additionalOptions">
          <app-accordion
            [heading]="'Additional options'">
            1
          </app-accordion>
        </div>
      </div>
    </div>
  </div>
</form>
