<form id="password-form" [formGroup]="form" [loader]="'passwordForm'">
  <div class="row no-gutters">
    <div class="col-12 row">
      <div class="col-6">
        <div formGroupName="previewImage">
          <div class="form-group">
            <label>Preview image:</label>
            <div class="thumbnail" [loader]="'previewImage'">
              <div class="image-wrap">
                <img src="{{ form.get('previewImage.image').value }}" alt="">
              </div>
              <div>
                <input
                  id="uploadImage"
                  class="form-control"
                  type="file"
                  name="uploadImage"
                  (change)="uploadImage($event.target.files[0])"
                  formControlName="uploadImage">
                <div>
                  <label for="uploadImage" class="action-btn action-upload">
                    <i class="icon-image"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-outline-primary" type="button" [openModal]="'search-image-modal'">Search image</button>
          </div>
          <div class="form-group">
            <button
              *ngIf="form.get('previewImage.image').touched"
              class="btn btn-blue"
              type="button"
              (click)="revertImage($event);">Revert image</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="url">URL:</label>
          <input
            class="form-control"
            id="url"
            type="text"
            formControlName="url">
        </div>
        <div class="form-group">
          <label for="serviceName">Service Name:</label>
          <input
            class="form-control"
            id="serviceName"
            type="text"
            formControlName="serviceName">
        </div>
        <div class="form-group">
          <label for="userName">User Name:</label>
          <input
            class="form-control"
            id="userName"
            type="text"
            formControlName="userName">
        </div>
        <div class="form-group" *ngIf="categories.length">
          <label for="categorySelect">Folder:</label>
          <select
            name="categorySelect"
            id="categorySelect"
            formControlName="categorySelect">
            <option *ngFor="let category of categories" [value]="category.id">{{category.text}}</option>
          </select>
          <ng-select
            [allowClear]="true"
            [items]="categories"
            [active]="activeCategory"
            (data)="onSelectCategory($event)"
            placeholder="Choose folder"
            class="page-select">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            class="form-control"
            id="email"
            type="text"
            formControlName="email">
        </div>
        <div class="form-group">
          <label for="pass">Password:</label>
          <input
            class="form-control"
            id="pass"
            type="text"
            formControlName="pass">
        </div>
      </div>
    </div>
    <div class="col-12 row">
      <div class="col-12">
        <div class="form-group">
          <label for="pass">Description:</label>
          <textarea
            class="form-control"
            id="desc"
            rows="5"
            formControlName="desc">
                </textarea>
        </div>
      </div>
    </div>
  </div>
</form>
