<form id="password-form" [formGroup]="form" [loader]="'passwordForm'">
  <div class="row no-gutters">
    <div class="col-12 row">
      <div class="col-6">
        <div formGroupName="previewImage">
          <div class="form-group">
            <label>Preview image:</label>
            <div class="thumbnail-upload" [loader]="'previewImage'">
              <div class="thumbnail-upload_image image-wrap -chess-bg">
				  <div class="inner-content">
					<img src="{{ form.get('previewImage.image').value }}" alt="">
				  </div>
              </div>
              <div>
                <input
                  id="uploadImage"
                  class="form-control"
                  type="file"
                  name="uploadImage"
                  (change)="uploadImage($event.target.files[0])"
                  formControlName="uploadImage">
                <div>
                  <label for="uploadImage" class="thumbnail-upload-action-btn thumbnail-upload-action">
                    <i class="ft-image"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group btn-list">
            <button class="btn btn-outline-primary" type="button" [openModal]="'search-image-modal'">Search image</button>
            <button
              *ngIf="form.get('previewImage.image').touched"
              class="btn btn-secondary"
              type="button"
              (click)="revertImage($event);">Revert image</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="url">URL:</label>
          <input
            class="form-control"
            id="url"
            type="text"
            formControlName="url">
        </div>
        <div class="form-group">
          <label for="serviceName">Service Name:</label>
          <input
            class="form-control"
            id="serviceName"
            type="text"
            formControlName="serviceName">
        </div>
        <div class="form-group">
          <label for="userName">User Name:</label>
          <input
            class="form-control"
            id="userName"
            type="text"
            formControlName="userName">
        </div>
        <div class="form-group" *ngIf="foldersSelect.length">
          <label for="folderSelect">Folder:</label>
          <select
            name="folderSelect"
            id="folderSelect"
            formControlName="folderSelect">
            <option *ngFor="let folder of foldersSelect" [value]="folder.id">{{folder.text}}</option>
          </select>
          <ng-select
            [allowClear]="true"
            [items]="foldersSelect"
            [active]="activeFolder"
            (data)="onSelectFolder($event)"
            placeholder="Choose folder"
            class="page-select">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            class="form-control"
            id="email"
            type="text"
            formControlName="email">
        </div>
        <div class="form-group">
          <label for="pass">Password:</label>
          <input
            class="form-control"
            id="pass"
            type="text"
            formControlName="pass">
        </div>
      </div>
    </div>
    <div class="col-12 row">
      <div class="col-12">
        <div class="form-group">
          <label for="pass">Description:</label>
          <textarea
            class="form-control"
            id="desc"
            rows="5"
            formControlName="desc">
                </textarea>
        </div>
      </div>
    </div>
  </div>
</form>
