<div class="panel panel-default" [class.-opened]="isOpen">
  <div class="panel-heading">
    <span class="panel-heading_title" (click)="toggleOpen($event)">
      <a href tabindex="0">
        <span>{{heading}}</span>
        <span class="panel-heading_icon">
          <i class="icon-arrow-v2"></i>
        </span>
      </a>
    </span>
  </div>
  <div class="panel-content" [@slide]='isOpen ? "down" : "up"'>
    <div class="panel-content_body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
