<accordion [closeOthers]="closeOthers" [showArrows]="showArrows" [expandAll]="expandAll" #acc>
	<accordion-group
		(click)="onSelectFolder(folderId);"
		[heading]="foldersData[folderId].name+' ('+foldersData[folderId].content.length+')'"
		*ngFor="let folderId of curLevelList">
		<ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: folderId}"></ng-template>
		<smart-folders-group
			*ngIf="foldersData[folderId].childFolders.length > 0;"
			[foldersData]="foldersData"
			[foldersList]="foldersData[folderId].childFolders"
			[closeOthers]="closeOthers"
			[showArrows]="showArrows"
			[expandAll]="expandAll"
			[isChildComponent]="true">
			<ng-template let-folderId>
				<ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: folderId}"></ng-template>
			</ng-template>
		</smart-folders-group>
	</accordion-group>
</accordion>
