/*--------------------------------------/
 General
--------------------------------------*/
$btn-font-family: $text-font;
$btn-font-size: 12px;
$btn-height: 32px;
$btn-border-radius: 2px;
$btn-padding: 0 12px;
$btn-font-weight: 600;
$btn-min-width: 75px;

/*--------------------------------------/
 Colors
--------------------------------------*/
$btn-bg: #999 !default;
$btn-text-color: #fff !default;
$btn-primary: $blue-dark;
$btn-success: $green;
$btn-dark: $dark;
$btn-red: $red;
$btn-blue: $blue;
$btn-dark: $dark;
$btn-light: $light;
$btn-gray: $gray;
$btn-white: #fff;

.btn-pure{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
}

.btn{
    position: relative;
    display: inline-block;
    background: $btn-white;
    font-family: $btn-font-family;
    height: $btn-height;
    font-weight: $btn-font-weight;
    border-radius: $btn-border-radius;
    padding: $btn-padding;
    font-size: $btn-font-size;
    cursor: pointer;
    outline: none;
    line-height: $btn-height - 1px;
    white-space: nowrap;
    margin: 0 5px;
    transition: background .2s linear, color .2s linear;
    border: 1px solid transparent;

    &:disabled, &.-disabled{
        cursor: default;
        opacity: 0.25;
    }

    &:hover{
        text-decoration: none;
    }
}

@mixin create-button($text-color, $bg, $hover:"", $border:"") {
    $bg-color: $bg;
    $bg-hover: $bg - #222;

    @if $hover != "" {
      $bg-hover: $hover;
    }

    @if $border != "" {
      border-color: $border;
    }

    @extend .btn;
    color: $text-color;
    background: $bg-color;

    &:hover, &.-active{
        background: $bg-hover;
    }

    &.-out-shadow {
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    }

    &.-full {
      width: 100%;
    }

    &.-icon {
      padding: 0 8px;

      i {
        font-size: $btn-font-size + 5px;
        line-height: 1;
        display: block;
      }
    }

    &.-hollow{
        color: $bg-color;
        background: transparent;
        border-color: $bg-color;

        &:hover, &.-active{
            background: $bg-hover;
            color: $text-color;
        }
    }
}

.btn-group {
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;

  > .btn {
    border-radius: 0;
    margin: 0;

    &:first-child {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    &:last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }

    & + .btn {
      margin-left: -1px;
    }
  }
}

.btn-list {
  display: inline-block;
  margin: 0 -5px -7px;
  font-size: 0;

  .btn {
    margin-bottom: 7px;
  }
}

.btn-default{
    @include create-button($btn-text-color, $btn-bg);
}

.btn-primary{
    @include create-button($btn-text-color, $btn-primary);
}

.btn-success{
    @include create-button($btn-text-color, $btn-success);
}

.btn-dark{
    @include create-button($btn-text-color, $btn-dark);
}

.btn-red{
    @include create-button($btn-text-color, $btn-red);
    min-width: $btn-min-width;
}

.btn-blue{
    @include create-button($btn-text-color, $btn-blue);
}

.btn-white{
    @include create-button($btn-dark, $btn-light, $btn-white, $btn-gray);
}
