<section class="page-content" [loader]="'home-2'">
  <div class="container">
    <div class="row no-gutters">
      <p>
        Home!
      </p>
    </div>
    <!--<div class="row no-gutters">-->
      <!--<div class="form-group" [loader]="'home-3'">-->
        <!--<img class="avatar img-circle" src="{{file_src}}" alt=""/>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="upload">-->
          <!--<input id="upload" type="file" (change)="imageChange($event)"/>-->
        <!--</label>-->
      <!--</div>-->
    <!--</div>-->
    <!--<img src="{{ newImg }}" alt="">-->
    <!--<img src="{{ img.url }}" alt="" *ngFor="let img of imagesArray">-->
    <div class="row no-gutters">
      <div class="btn-list">
        <button class="btn-white" type="button" (click)="loaderOpen('home', 'This is loader')">Loader 1</button>
        <button class="btn-white" type="button" (click)="loaderOpen('home')">Loader 2</button>
      </div>
    </div>
    <br>
    <div class="row no-gutters">
      <div class="btn-list">
        <button class="btn-blue" type="button" [openPanel]="'panel-test-1'" title="Open">Panel 1</button>
        <button class="btn-blue" type="button" [openPanel]="'panel-test-2'" title="Open">Panel 2</button>
      </div>
    </div>
    <br>
    <div class="row no-gutters">
      <div class="btn-list">
        <button class="btn-success" type="button" (click)="createSuccessNotification('This is notification!', 0)" title="Open">Create success notification</button>
        <button class="btn-red" type="button" (click)="createErrorNotification('This is notification!')" title="Open">Create error notification</button>
        <button class="btn-blue" type="button" (click)="createInfoNotification('This is notification!')" title="Open">Create info notification</button>
        <button class="btn-yellow" type="button" (click)="createWarningNotification('This is notification!')" title="Open">Create warning notification</button>
        <button class="btn-default" type="button" (click)="clearNotification()" title="Open">Clear notification</button>
      </div>
    </div>
  </div>
</section>
<app-loader-component [id]="'home'"></app-loader-component>

<app-panel id="panel-test-1">
  <div class="panel">
    <div class="panel-header">
      <div class="panel-header_inner">
        <h1 class="panel-header_title heading -h4">Test panel 1</h1>
      </div>
      <div class="panel-header_buttons">
        <button class="close-btn" type="button" [closePanel]="'panel-test-1'"></button>
      </div>
    </div>
    <div class="panel-body">
      <div class="panel-content">
        <h1 class="heading -h4">Lorem ipsum dolor</h1>
      </div>
      <div class="panel-bottom">
        <div class="row no-gutters -end">
          <div class="btn-list">
            <button class="btn-blue" type="button" [openPanel]="'panel-test-2'" title="Open">Panel 2</button>
            <button class="btn-white" type="button" [closePanel]="'panel-test-1'">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-panel>

<app-panel id="panel-test-2">
  <div class="panel">
    <div class="panel-header">
      <div class="panel-header_inner">
        <h1 class="panel-header_title heading -h4">Test panel 2</h1>
      </div>
      <div class="panel-header_buttons">
        <button class="close-btn" type="button" [closePanel]="'panel-test-2'"></button>
      </div>
    </div>
    <div class="panel-body">
      <div class="panel-content">
        <h1 class="heading -h4">Lorem ipsum dolor</h1>
      </div>
      <div class="panel-bottom">
        <div class="row no-gutters -end">
          <div class="btn-list">
            <button class="btn-white" type="button" [closePanel]="'panel-test-2'">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-panel>
