<div class="accordion-group">
  <app-accordion
    [heading]="foldersData[folderId].name+' ('+foldersData[folderId].content.length+')'"
    *ngFor="let folderId of curLevelList;">
    <div class="accordion-actions">
      <button *ngIf="foldersData[folderId].editable" class="page-list_button" type="button" [openModal]="'folder-modal'" title="Edit" (click)="onEditFolder(folderId);">
        <i class="icon-edit"></i>
      </button>
      <button *ngIf="foldersData[folderId].deletable" class="page-list_button" type="button" [openModal]="'delete-modal'" title="Delete" (click)="onDeleteFolder(folderId);">
        <i class="icon-delete"></i>
      </button>
    </div>
    <ul content-list>
      <li content-list-item
          *ngFor="let item of foldersData[folderId].content; let i = index"
          [listId]="folderId"
          [itemIndex]="i"
          [itemImg]="item.img"
          class="-{{ activeViewType }}">
        <div class="page-list_info-text -first">
          <p class="name">{{ item.serviceName }}</p>
          <p class="small info-label">{{ item.userName }}</p>
        </div>
        <div class="page-list_info-text -show-large">
          <p class="small info-label">{{ item.email }}</p>
          <p class="small">{{ item.pass }}</p>
        </div>
      </li>
    </ul>
    <app-passwords-group
      *ngIf="foldersData[folderId].childCategories.length > 0;"
      [foldersData]="foldersData"
      [foldersList]="foldersData[folderId].childCategories"
      [isChildComponent]="true">
    </app-passwords-group>
  </app-accordion>
</div>
