<div class="accordion-group">
  <app-accordion
    [heading]="foldersData.categoriesData[folder.id].name+' ('+foldersData.categoriesData[folder.id].content.length+')'"
    *ngFor="let folder of foldersData.categories;">
    <ul content-list>
      <li content-list-item
          *ngFor="let item of foldersData.categoriesData[folder.id].content; let i = index"
          [listId]="folder.id"
          [itemIndex]="i"
          class="-{{ activeViewType }}">
        <div class="page-list_info-text -first">
          <p class="name">{{ item.serviceName }}</p>
          <p class="small info-label">{{ item.userName }}</p>
        </div>
        <div class="page-list_info-text -show-large">
          <p class="small info-label">{{ item.email }}</p>
          <p class="small">{{ item.pass }}</p>
        </div>
      </li>
    </ul>
  </app-accordion>
</div>
