.smart-list {
	margin: 0 -15px;
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	padding: 0;

	&_img-wrap {
		position: relative;
		overflow: hidden;
		height: 100%;
		display: inline-block;
		vertical-align: top;
		border: none;

		.img-bg {
			@include absolute;
			background-repeat: no-repeat;
			background-size: cover;
			transition: transform 0.3s;
			transform: scale(1.05);
		}
	}

	&_overlay {
		@include absolute;
		visibility: hidden;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
	}

	&_overlay-text {
		color: $white;
		font-size: 16px;
		text-align: center;
		transition: top 0.3s, opacity 0.3s;
		position: absolute;
		top: 27%;
		opacity: 0;
		transform: translateY(-50%);
	}

	&_info {
		flex: 1 1 50%;
		padding: 0 10px;
		transition: padding 0.3s;
		overflow: hidden;
	}

	&_info-table {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}

	&_info-text {
		position: relative;
		display: table-cell;
		vertical-align: middle;

		@include media(lg) {
			&.-show-large {
				display: none !important;
			}
		}

		p {
			margin: 0;
			line-height: 1.6;
		}

		.name {
			font-size: 15px;
			font-weight: 600;
			color: color-function('grey', 'darken-3');
			font-family: $font-family-base;
		}

		.info-label {
			margin-right: 10px;
		}

		.name, .info-label  {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.small {
			font-size: 80%;

			.info-label {
				opacity: .6;
			}
		}
	}

	&_info-text,
	&_hover-info {
		display: table-cell;
		vertical-align: middle;
	}

	&_button-cell {
		visibility: hidden;
		vertical-align: middle;
		text-align: right;
		border-color: color-function('grey', 'darken-3');
		opacity: 0;
		display: table-cell;
		backface-visibility: hidden;
		width: 0;

		button {
			font-size: 17px;
		}
	}

	&_button {
		background-color: transparent;
		color: inherit;
		box-sizing: content-box;
		vertical-align: top;
		padding: 0;
		font-size: inherit;
		cursor: pointer;
		border: 1px solid color-function('grey', 'darken-3');
		height: 26px;
		width: 26px;
		border-radius: 2px;
		display: flex;
		justify-content: center;

		&:hover {
			background-color: rgba(60, 74, 84, 0.2);
		}
	}

	.big-icon, img.small-icon {
		@include absolute;
		max-width: 100%;
		max-height: 100%;
	}
}

.smart-list-cell {
	width: 100%;
}

.smart-list-item {
	min-width: 100%;
	position: relative;
	vertical-align: top;
	border-radius: 2px;
	background-color: #FFF;
	outline: none;
	cursor: pointer;
	display: flex;

	&:hover, &.-selected, &.-focus {
		background-color: rgba(214, 217, 220, 0.4);
		box-shadow: inset 3px 0 0 0 #3cce7b;

		.smart-list_button-cell {
			visibility: visible;
			opacity: 1;
			width: 35px;
		}

		.smart-list_overlay-text {
			top: 30%;
			opacity: 1;
		}

		.img-bg {
			transform: scale(1);
		}
	}
}

.smart-list.-list {
	.smart-list-item {
		height: 50px;
		min-width: 400px;
		margin: 0 15px 2px;
		padding-left: 10px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		transition: box-shadow 0.3s ease;
	}

	.smart-list_img-wrap {
		width: 150px;
	}

	.smart-list_info-text {
		&.-first {
			@include media-min(lg) {
				width: 50%;
			}
		}
	}
}

.smart-list.-tile {
	&.-size-cell-small {
		.smart-list-cell {
			flex-basis: 250px;
		}
		.smart-list_info-text .name {
			font-size: 16px;
		}
	}
	&.-size-cell-big {
		.smart-list-cell {
			flex-basis: 400px;
		}
	}
	&.-size-img-small {
		.smart-list_img-wrap {
			@include aspect-ratio(1, 0.45);
		}
	}
	&.-size-img-square {
		.smart-list_img-wrap {
			@include aspect-ratio(1, 1);
		}
	}
	&.-size-img-big {
		.smart-list_img-wrap {
			@include aspect-ratio(1, 1.2);
		}
	}

	.smart-list-cell {
		flex: 0 1 300px;
		padding: 0 15px 30px;
	}

	.smart-list-item {
		flex-direction: column;
		box-shadow: 0 1px 3px rgba(0,24,48,0.2);
		border: 2px solid transparent;

		&.-selected {
			border-color: theme-color('info');
		}

		&:hover, &.-selected, &.-focus {
			background: $white;

			.smart-list_overlay {
				visibility: visible;
				opacity: 1;
			}

			.smart-list_button-cell {
				transition: opacity 0.15s, width 0.15s, visibility 0.15s, transform 0.35s;
				transform: translate3d(0,0,0);
				&:nth-child(3) {
					-webkit-transition-delay: 0.1s;
					transition-delay: 0.1s;
				}
				&:nth-child(2) {
					-webkit-transition-delay: 0.15s;
					transition-delay: 0.15s;
				}
				&:first-child {
					-webkit-transition-delay: 0.2s;
					transition-delay: 0.2s;
				}
			}
		}
	}

	.smart-list_img-wrap {
		width: 100%;
		flex: 0 1 auto;
		@include aspect-ratio(1, 0.65);
	}

	.smart-list_overlay {
		background-color: rgba(0, 0, 0, 0.4);
		transition: opacity 0.3s, visibility 0.3s;
	}

	.smart-list_info {
		padding: 10px 10px;
		flex: 0 0 auto;
	}

	.smart-list_info-text {
		.name {
			font-size: 20px;
		}

		&.-show-large {
			display: none;
		}
	}

	.smart-list_button-cell {
		transform: translate3d(0,200%,0);
		transition: opacity 0.15s, width 0s 0.15s, visibility 0.15s, transform 0.35s;
	}
}
