.smart-list {
	margin: 0 -15px;
	display: flex;
	flex-flow: row wrap;
	list-style: none;

	li {
		width: 100%;
	}

	.inner-wrap {
		display: flex;
	}

	&_checkbox-wrap {
		height: 100%;
		display: inline-block;
		width: 55px;
	}

	&_checkbox {
		position: absolute;
		top: 0;
		background-color: transparent;
		color: inherit;
		box-sizing: content-box;
		vertical-align: top;
		padding: 0;
		font-size: inherit;
		cursor: pointer;
		visibility: visible;
		border: 1px solid #4D5E6E;
		border-radius: 4px;
		height: 15px;
		width: 15px;
		z-index: 1;
		left: 20px;
		bottom: 0;
		margin: auto;

		&:hover {
			background-color: #6D7074;
		}

		.-selected & {
			&:hover {
				background-color: transparent;
			}

			&:after {
				content: '';
				position: absolute;
				top: 2px;
				left: 2px;
				right: 2px;
				bottom: 2px;
				border-radius: 3px;
				background-color: $red;
			}
		}
	}

	&_img-wrap {
		position: relative;
		overflow: hidden;

		.img-bg {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-size: cover;
			transition: transform 0.3s;
			transform: scale(1.05);
		}
	}

	&_overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		visibility: hidden;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
	}

	&_overlay-text {
		color: $white;
		font-size: 16px;
		text-align: center;
		transition: top 0.3s, opacity 0.3s;
		position: absolute;
		top: 27%;
		opacity: 0;
		transform: translateY(-50%);
	}

	&_info {
		padding: 0 10px;
		transition: padding 0.3s;
	}

	&_info-table {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}

	&_info-text {
		position: relative;
		display: table-cell;
		vertical-align: middle;

		@include media(lg) {
			&.-show-large {
				display: none !important;
			}
		}

		p {
			margin: 0;
			line-height: 1.6;
		}

		.name {
			font-size: 15px;
			font-weight: 600;
			color: color-function('grey', 'darken-3');
			font-family: $font-family-base;
		}

		.info-label {
			margin-right: 10px;
		}

		.name, .info-label  {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.small {
			font-size: 80%;

			.info-label {
				opacity: .6;
			}
		}
	}

	&_info-text,
	&_hover-info {
		display: table-cell;
		vertical-align: middle;
	}

	&_button-cell {
		width: 35px;
		visibility: hidden;
		vertical-align: middle;
		text-align: right;
		border-color: color-function('grey', 'darken-3');
		opacity: 0;
		display: table-cell;
		backface-visibility: hidden;

		button {
			font-size: 17px;
		}
	}

	&_button {
		background-color: transparent;
		color: inherit;
		box-sizing: content-box;
		vertical-align: top;
		padding: 0;
		font-size: inherit;
		cursor: pointer;
		border: 1px solid color-function('grey', 'darken-3');
		height: 26px;
		width: 26px;
		border-radius: 2px;
		display: flex;
		justify-content: center;

		&:hover {
			background-color: rgba(60, 74, 84, 0.2);
		}
	}

	.big-icon, img.small-icon {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}

	&.-tile {
		li {
			flex: 0 0 25%;
			padding: 15px;

			@include media(xl) {
				flex: 0 0 33.33333333%;
			}

			@include media(lg) {
				flex: 0 0 50%;
			}

			@include media(md) {
				flex: 0 0 100%;
			}
		}
	}
}

.smart-list-item {
	min-width: 100%;

	&:hover, &.-selected, &.-focus {
		.smart-list_button-cell {
			visibility: visible;
			opacity: 1;
		}

		.smart-list_overlay {
			visibility: visible;
			opacity: 1;
		}

		.smart-list_overlay-text {
			top: 30%;
			opacity: 1;
		}

		.img-bg {
			transform: scale(1);
		}
	}

	.-list & {
		height: 50px;
		min-width: 400px;
		position: relative;
		background: #FFF;
		outline: none;
		margin: 0 15px 2px;

		&:hover, &.-selected, &.-focus {
			background-color: rgba(214, 217, 220, 0.4);
		}

		.inner-wrap {
			height: 100%;
			position: relative;
			flex-direction: row;
		}

		.smart-list_img-wrap {
			width: 150px;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			border: none;

			.big-icon {
				height: 55%;
				font-size: 33px;
			}
		}

		.smart-list_overlay-text {
			display: none;
		}

		.smart-list_info {
			flex: 1 1 50%;
		}

		.smart-list_info-text {
			&.-first {
				@include media-min(lg) {
					width: 50%;
				}
			}
		}
	}

	.-tile & {
		border-radius: 2px;
		box-shadow: 0 1px 3px rgba(0,24,48,0.2);
		display: inline-block;
		background-color: #FFF;
		position: relative;
		vertical-align: top;

		&.-selected {
			outline: 2px solid theme-color('info');
		}

		&:hover, &.-selected, &.-focus {
			.smart-list_info {
				padding: 20% 10px 10px;
			}
		}

		.inner-wrap {
			flex-direction: column;
		}

		.smart-list_img-wrap {
			width: 100%;

			@include aspect-ratio(1, 0.65);
		}

		.smart-list_overlay {
			background-color: rgba(0, 0, 0, 0.4);
			transition: opacity 0.3s, visibility 0.3s;
		}

		.smart-list_checkbox {
			right: 0;
			margin: 4px 4px 0 0;
			display: none;
		}

		.smart-list_info {
			position: absolute;
			bottom: 0;
			padding: 40% 10px 20px;
			@include gradient-vertical(rgba(#fff, 0), rgba(#fff, 1));
		}

		.smart-list_button-cell {
			transition: opacity 0.15s, visibility 0.15s;
		}

		.smart-list_info-text {
			.name {
				font-size: 20px;
			}

			&.-show-large {
				display: none;
			}
		}
	}
}
