<div class="accordion accordion-default" [class.-opened]="isOpen">
  <div class="accordion-heading">
    <span class="accordion-heading_title" (click)="toggleOpen($event)">
      <a href tabindex="0">
        <span>{{heading}}</span>
        <span class="accordion-heading_icon">
          <i class="icon-arrow-v2"></i>
        </span>
      </a>
    </span>
  </div>
  <div class="accordion-content" [@slide]='isOpen ? "down" : "up"'>
    <div class="accordion-content_body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
