<div class="row" matchHeight ="card">
	<div class="col-12">
		<h2>Panels</h2>
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Panels</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="card-text">
<ngx-prism [language]="'javascript'">
import &#123; NgModule &#125; from '@angular/core';
import &#123; PanelModule &#125; from '../../components/panels/panel.module';

@NgModule(&#123;
imports: [PanelModule]
&#125;)
export class ComponentsModule &#123; &#125;
</ngx-prism>
					</div>
					<button class="btn btn-raised btn-primary" type="button" [openPanel]="'panel-test-1'" title="Open">Panel 1</button>
					<button class="btn btn-raised btn-primary" type="button" [openPanel]="'panel-test-2'" title="Open">Panel 2</button>
					<button class="btn btn-raised btn-primary" type="button" [openPanel]="'panel-test-3'" title="Open">Panel 3</button>
				</div>
			</div>
		</div>
	</div>
</div>

<app-panel id="panel-test-1">
	<div class="app-panel">
		<div class="app-panel-header">
			<div class="app-panel-header_inner">
				<h4 class="app-panel-header_title heading -h4">Test panel 1</h4>
			</div>
			<div class="app-panel-header_buttons">
				<a [closePanel]="'panel-test-1'">
					<i class="ft-x font-medium-3"></i>
				</a>
			</div>
		</div>
		<div class="app-panel-body">
			<div class="app-panel-content">
			</div>
			<div class="app-panel-bottom">
				<div class="row no-gutters -end">
					<div class="btn-list">
						<a class="btn btn-raised btn-primary" href="javascript:void(0)" [openPanel]="'panel-test-2'">Panel 2</a>
						<a class="btn btn-raised btn-danger" href="javascript:void(0)" [closePanel]="'panel-test-1'">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-panel>

<app-panel id="panel-test-2">
	<div class="app-panel">
		<div class="app-panel-header">
			<div class="app-panel-header_inner">
				<h4 class="app-panel-header_title">Test panel 2</h4>
			</div>
			<div class="app-panel-header_buttons">
				<a [closePanel]="'panel-test-2'">
					<i class="ft-x font-medium-3"></i>
				</a>
			</div>
		</div>
		<div class="app-panel-body">
			<div class="app-panel-content">
			</div>
			<div class="app-panel-bottom">
				<div class="row no-gutters -end">
					<div class="btn-list">
						<a class="btn btn-raised btn-danger" href="javascript:void(0)" [closePanel]="'panel-test-2'">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-panel>

<app-panel [dir]="'right'" id="panel-test-3">
	<div class="app-panel">
		<div class="app-panel-header">
			<div class="app-panel-header_inner">
				<h4 class="app-panel-header_title">Test panel 2</h4>
			</div>
			<div class="app-panel-header_buttons">
				<a [closePanel]="'panel-test-3'">
					<i class="ft-x font-medium-3"></i>
				</a>
			</div>
		</div>
		<div class="app-panel-body">
			<div class="app-panel-content">
			</div>
			<div class="app-panel-bottom">
				<div class="row no-gutters -end">
					<div class="btn-list">
						<a class="btn btn-raised btn-primary" href="javascript:void(0)" [openPanel]="'panel-test-4'">Panel 4</a>
						<a class="btn btn-raised btn-danger" href="javascript:void(0)" [closePanel]="'panel-test-3'">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-panel>
