<div class="page-list-item -{{ activeViewType }}" [class.-selected]="isItemSelected" [class.-focus]="isItemFocused" (click)="stopPropagation($event);onSelectedItem()">
  <div class="inner-wrap">
    <div class="page-list_checkbox">
      <button class="page-checkbox"></button>
    </div>
    <div class="page-list_img">
      <img class="big-icon" src="{{ itemImg }}" alt="">
      <div class="page-list_img-overlay"></div>
    </div>
    <div class="page-list_info">
      <div class="page-list_info-table">
        <ng-content></ng-content>
        <div class="page-list_button-cell">
          <button class="page-list_button" type="button" openModal data-modal="item-modal" title="Edit" (click)="stopPropagation($event);onFocusItem();onEditItem();">
            <i class="icon-edit"></i>
          </button>
        </div>
        <div class="page-list_button-cell">
          <button class="page-list_button" type="button" openModal data-modal="delete-modal" title="Delete" (click)="stopPropagation($event);onFocusItem();onDeleteItem();">
            <i class="icon-delete"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
