<div class="page-list-item -{{ activeViewType }}" [class.-selected]="isItemSelected" [class.-focus]="isItemFocused" (click)="onSelectedItem($event)">
  <div class="inner-wrap">
    <div class="page-list_checkbox">
      <button class="page-checkbox"></button>
    </div>
    <div class="page-list_img">
      <img class="big-icon" src="{{ itemImg }}" alt="">
      <div class="page-list_img-overlay"></div>
    </div>
    <div class="page-list_info">
      <div class="page-list_info-table">
        <ng-content></ng-content>
        <div class="page-list_button-cell">
          <button class="page-list_button" type="button" openPanel data-panel="item-panel" title="Edit" (click)="onEditItem($event);">
            <i class="icon-edit"></i>
          </button>
        </div>
        <div class="page-list_button-cell">
          <button class="page-list_button" type="button" openPanel data-panel="delete-panel" title="Delete" (click)="onDeleteItem($event);">
            <i class="icon-delete"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
